<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MIPA Chatbot ULM - Team </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/LogoULM.ico') }}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/price_rangs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src={{ url_for('static', filename="images/preloader.png" ) }}>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{{url_for ('index')}}"><img src={{ url_for('static',
                                        filename="images/logo-nama.png" ) }}></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="{{url_for ('index')}}">Home</a></li>
                                            <li><a href="{{url_for ('about')}}">About</a></li>
                                            <li><a href="{{url_for ('team')}}">Team</a></li>
                                            <li><a href="{{url_for ('contact')}}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background={{
                url_for('static', filename="images/4.png" ) }}>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>TIM H2O OP</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- YRA FATRIA ZAMZAM-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>TIM H2O OP</span>
                                <h2>Yra Fatria Zamzam</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Mahasiswa Universitas Lambung Mangkurat Banjarbaru, Kalimantan
                                    Selatan</p>
                                <p> Saya berasal dari kota Palembang, Sumatera Selatan.
                                    Saya dari prodi Ilmu Komputer. Bicara tentang hobi, saya mempunyai hobi di bidang
                                    olahraga khususnya bulu tangkis,
                                    saya sering mengikuti lomba bulutangkis sejak kelas 5 SD.
                                    Hobi saya yang lain adalah memasak, main game, menonton film dan masih banyak lagi..
                                </p>
                                <p>Pada project akhir ini saya memiliki tugas sebagai Data Acqusition & Data Exploration
                                </p>
                                <a href="https://www.facebook.com/yra.fatria.zz" class="genric-btn warning circle"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/yraftrz" class="genric-btn warning circle"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/yraftrz" class="genric-btn warning circle"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="mailto:2011016220012@mhs.ulm.ac.id" class="genric-btn warning circle"><i
                                        class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src={{ url_for('static', filename="images/yra-profile.png" ) }}>
                            <div class="support-img-cap text-center">
                                <p>Data Acqusition &</p>
                                <p>Data Exploration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- YRA FATRIA ZAMZAM End-->
        <!-- MUHAMMAD FARIZ FATA ABDILLAH-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>TIM H2O OP</span>
                                <h2>Fariz Fata Abdillah</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Mahasiswa Universitas Lambung Mangkurat Banjarbaru, Kalimantan
                                    Selatan</p>
                                <p>Saya berasal dari Kota Tanjung, Kalimantan Selatan.
                                    Saya dari prodi Ilmu Komputer. Saya mempunyai hobi dan minat di bidang olahraga
                                    fisik
                                    dan Olahraga Elektronik.</p>
                                <p>Pada project akhir ini saya memiliki tugas sebagai Modeling & Testing</p>
                                <a href="#" class="genric-btn warning circle"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="genric-btn warning circle"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/frz_f_a" class="genric-btn warning circle"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="mailto:2011016210014@mhs.ulm.ac.id" class="genric-btn warning circle"><i
                                        class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src={{ url_for('static', filename="images/fariz-profile.png" ) }}>
                            <div class="support-img-cap text-center">
                                <p>Modeling &</p>
                                <p>Testing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MUHAMMAD FARIZ FATA ABDILLAH End-->
        <!-- MUHAMMAD RIDHA ANSHARI-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>TIM H2O OP</span>
                                <h2>Muhammad Ridha Anshari</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Mahasiswa Universitas Lambung Mangkurat Banjarbaru, Kalimantan
                                    Selatan</p>
                                <p>Saya berasal dari kota Banjarmasin, Kalimatan Selatan.
                                    Saya dari prodi Ilmu Komputer. Saya mempunyai hobi dan minat di bidang olahraga
                                    seperti Badminton
                                    dan Olahraga Elektronik seperti game mobile & konsol karena saya kompetitif di sana.
                                </p>
                                <p>Pada project akhir ini saya memiliki tugas sebagai UI Designer & Deployment</p>
                                <a href="https://www.facebook.com/doeedo14" class="genric-btn warning circle"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/doeedo_" class="genric-btn warning circle"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/mhmmdrdho_" class="genric-btn warning circle"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="mailto:2011016210016@mhs.ulm.ac.id" class="genric-btn warning circle"><i
                                        class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src={{ url_for('static', filename="images/edo-profile.png" ) }}>
                            <div class="support-img-cap text-center">
                                <p>UI Designer &</p>
                                <p>Deployment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MUHAMMAD RIDHA ANSHARI End-->

        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src={{ url_for('static', filename="images/yra-quote.png" ) }}>
                                            <span>Yra Fatria Zamzam</span>
                                            <p>Data Acqusition & Data Exploration</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Kita tidak bisa kembali dan mengubah awal saat kita memulainya,
                                            tapi kita bisa memulainya lagi dari mana kita berada sekarang dan mengubah
                                            akhirnya.”</p>
                                        <p>- C.S Lewis -</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src={{ url_for('static', filename="images/fariz-quote.png" ) }}>
                                            <span>Muhammad Fariz Fata Abdillah</span>
                                            <p>Modeling & Testing</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Barangsiapa belum merasakan pahitnya belajar walau sebentar,
                                            maka akan merasakan hinanya kebodohan sepanjang hidupnya.”</p>
                                        <p>- Imam Syafi'i - </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src={{ url_for('static', filename="images/edo-quote.png" ) }}>
                                            <span>Muhammad Ridha Anshari</span>
                                            <p>UI Designer & Deployment</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Dimanapun engkau berada selalulah menjadi yang terbaik
                                            dan berikan yang terbaik dari yang bisa kita berikan.”</p>
                                        <p>- B. J Habibie -</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-logo mb-20">
                            <a href="{{url_for ('index')}}"><img src={{ url_for('static', filename="images/logo-synthesis.png" ) }}></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-logo mb-20">
                            <a href="{{url_for ('index')}}"><img src={{ url_for('static', filename="images/logo-kampusmerdeka.png" ) }}></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-logo mb-20">
                            <a href="{{url_for ('index')}}"><img src={{ url_for('static', filename="images/logo-synthesis.png" ) }}></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-logo mb-20">
                            <a href="{{url_for ('index')}}"><img src={{ url_for('static', filename="images/logo-kampusmerdeka.png" ) }}></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | TIM
                                    H2O OP
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{{ url_for('static' , filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- Jquery Mobile Menu -->
    <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/price_rangs.js') }}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/animated.headline.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.js') }}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.sticky.js') }}"></script>

    <!-- contact js -->
    <script src="{{ url_for('static', filename='assets/js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.ajaxchimp.min.js') }}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>